In [ ]:
import pymongo
dbcon=pymongo.MongoClient("mongodb://localhost:27017/")
db=dbcon['Aleena']
col=db['Stud1']
#col1=[{'_id':4,"Name":"Aleena","Age":21,"Place":"Clt"},{'_id':5,"Name":"Priya","Age":22,"Place":"Idk"},{'_id':6,"Name":"Anu","Age":23,"Place":"Alp"}]
#col.insert_many(col1)
val=col.find({"Name":{"$regex":"^A"}},{"Name":1})
for i in val:
    print(i)
col.delete_many({"Age":23})
#cond={"Age":21}
#nval={"$set":{"Place":"Tvm"}}
#col.update_many(cond,nval)

In [24]:
import pymongo
dbcon=pymongo.MongoClient("mongodb://localhost:27017/")
db=dbcon['Aleena']
col=db['Details']
val1=col.find({"Gender":"Female","Course":"MCA"},{"FName","LName","Marks"})
print("QU1")
for i in val1:
    print(i)
print("QU2:")
val2=col.find({"Course":"MCA"}).sort("Marks",-1).limit(1)
for i in val2:
    print(i)
print("QU3:")
val3=col.find({"Gender":"Male","Grade":"A"},{"FName"})
for i in val3:
    print(i)
print("QU4:")
val4=col.find({"Dept":"Mech","Gender":"Male"}).sort("Marks",-1).limit(5)
for i in val4:
    print(i)
print("QU5")
val5=col.find({"Gender":"Female","Marks":{"$gt":90}})
for i in val5:
    print(i)
print("QU6")
val6=col.find({"Marks":{"$gte":80,"$lte":90}})
for i in val6:
    print(i)
print("QU7")
val7 = col.find({"FName":{"$regex":"^A"}})
for i in val7:
    print(i)
print("QU8")
val8=col.find({"Place":"Tvm"})
for i in val8:
    print(i)
print("QU9")
val9=col.find({"$nor":[{"Place":"Tvm"},{"Place":"Malprm"}]})
for i in val9:
    print(i)

QU1
{'_id': 1, 'FName': 'Aleena', 'LName': 'E', 'Marks': 90}
{'_id': 18, 'FName': 'Ava', 'LName': 'Green', 'Marks': 93}
QU2:
{'_id': 18, 'FName': 'Ava', 'LName': 'Green', 'Dept': 'CA', 'Course': 'MCA', 'Place': 'Tvm', 'Marks': 93, 'Grade': 'A', 'Gender': 'Female'}
QU3:
{'_id': 10, 'FName': 'Jack'}
QU4:
{'_id': 23, 'FName': 'Oliver', 'LName': 'Hernandez', 'Dept': 'Mech', 'Course': 'B.Tech', 'Place': 'Kochi', 'Marks': 88, 'Grade': 'B', 'Gender': 'Male'}
{'_id': 21, 'FName': 'Ethan', 'LName': 'Roberts', 'Dept': 'Mech', 'Course': 'B.Tech', 'Place': 'Delhi', 'Marks': 85, 'Grade': 'B', 'Gender': 'Male'}
{'_id': 25, 'FName': 'Noah', 'LName': 'Gonzalez', 'Dept': 'Mech', 'Course': 'B.Tech', 'Place': 'Pune', 'Marks': 75, 'Grade': 'C', 'Gender': 'Male'}
QU5
{'_id': 4, 'FName': 'Emily', 'LName': 'Johnson', 'Dept': 'MBA', 'Course': 'MBA', 'Place': 'Malprm', 'Marks': 92, 'Grade': 'A', 'Gender': 'Female'}
{'_id': 7, 'FName': 'Sophia', 'LName': 'Davis', 'Dept': 'CSE', 'Course': 'M.Tech', 'Place': 'Mumbai', 'Marks': 95, 'Grade': 'A', 'Gender': 'Female'}
{'_id': 13, 'FName': 'Charlotte', 'LName': 'Clark', 'Dept': 'Civil', 'Course': 'M.Tech', 'Place': 'Trivandrum', 'Marks': 96, 'Grade': 'A', 'Gender': 'Female'}
{'_id': 18, 'FName': 'Ava', 'LName': 'Green', 'Dept': 'CA', 'Course': 'MCA', 'Place': 'Tvm', 'Marks': 93, 'Grade': 'A', 'Gender': 'Female'}
{'_id': 24, 'FName': 'Amelia', 'LName': 'Lopez', 'Dept': 'Mech', 'Course': 'M.Tech', 'Place': 'Malprm', 'Marks': 92, 'Grade': 'A', 'Gender': 'Female'}
QU6
{'_id': 1, 'FName': 'Aleena', 'LName': 'E', 'Dept': 'CA', 'Course': 'MCA', 'Place': 'Clt', 'Marks': 90, 'Grade': 'A', 'Gender': 'Female'}
{'_id': 2, 'FName': 'John', 'LName': 'Smith', 'Dept': 'CA', 'Course': 'BCA', 'Place': 'Kochi', 'Marks': 85, 'Grade': 'B', 'Gender': 'Male'}
{'_id': 5, 'FName': 'Daniel', 'LName': 'Williams', 'Dept': 'CA', 'Course': 'MCA', 'Place': 'Chennai', 'Marks': 88, 'Grade': 'B', 'Gender': 'Male'}
{'_id': 8, 'FName': 'Michael', 'LName': 'Miller', 'Dept': 'EEE', 'Course': 'M.Tech', 'Place': 'Delhi', 'Marks': 84, 'Grade': 'B', 'Gender': 'Male'}
{'_id': 9, 'FName': 'Laura', 'LName': 'Wilson', 'Dept': 'CSE', 'Course': 'B.Tech', 'Place': 'Malprm', 'Marks': 80, 'Grade': 'B', 'Gender': 'Female'}
{'_id': 11, 'FName': 'Olivia', 'LName': 'Adams', 'Dept': 'MBA', 'Course': 'BBA', 'Place': 'Clt', 'Marks': 83, 'Grade': 'B', 'Gender': 'Female'}
{'_id': 15, 'FName': 'Benjamin', 'LName': 'Young', 'Dept': 'CSE', 'Course': 'M.Tech', 'Place': 'Tvm', 'Marks': 89, 'Grade': 'B', 'Gender': 'Male'}
{'_id': 16, 'FName': 'Ella', 'LName': 'King', 'Dept': 'CSE', 'Course': 'B.Tech', 'Place': 'Hyderabad', 'Marks': 81, 'Grade': 'B', 'Gender': 'Female'}
{'_id': 20, 'FName': 'Mia', 'LName': 'Nelson', 'Dept': 'CSE', 'Course': 'M.Tech', 'Place': 'Pune', 'Marks': 90, 'Grade': 'A', 'Gender': 'Female'}
{'_id': 21, 'FName': 'Ethan', 'LName': 'Roberts', 'Dept': 'Mech', 'Course': 'B.Tech', 'Place': 'Delhi', 'Marks': 85, 'Grade': 'B', 'Gender': 'Male'}
{'_id': 22, 'FName': 'Isabella', 'LName': 'Martinez', 'Dept': 'Mech', 'Course': 'M.Tech', 'Place': 'Bangalore', 'Marks': 90, 'Grade': 'A', 'Gender': 'Female'}
{'_id': 23, 'FName': 'Oliver', 'LName': 'Hernandez', 'Dept': 'Mech', 'Course': 'B.Tech', 'Place': 'Kochi', 'Marks': 88, 'Grade': 'B', 'Gender': 'Male'}
QU7
{'_id': 1, 'FName': 'Aleena', 'LName': 'E', 'Dept': 'CA', 'Course': 'MCA', 'Place': 'Clt', 'Marks': 90, 'Grade': 'A', 'Gender': 'Female'}
{'_id': 18, 'FName': 'Ava', 'LName': 'Green', 'Dept': 'CA', 'Course': 'MCA', 'Place': 'Tvm', 'Marks': 93, 'Grade': 'A', 'Gender': 'Female'}
{'_id': 24, 'FName': 'Amelia', 'LName': 'Lopez', 'Dept': 'Mech', 'Course': 'M.Tech', 'Place': 'Malprm', 'Marks': 92, 'Grade': 'A', 'Gender': 'Female'}
QU8
{'_id': 6, 'FName': 'Chris', 'LName': 'Taylor', 'Dept': 'Civil', 'Course': 'B.Tech', 'Place': 'Tvm', 'Marks': 76, 'Grade': 'C', 'Gender': 'Male'}
{'_id': 14, 'FName': 'William', 'LName': 'Lewis', 'Dept': 'MBA', 'Course': 'BBA', 'Place': 'Tvm', 'Marks': 74, 'Grade': 'C', 'Gender': 'Male'}
{'_id': 15, 'FName': 'Benjamin', 'LName': 'Young', 'Dept': 'CSE', 'Course': 'M.Tech', 'Place': 'Tvm', 'Marks': 89, 'Grade': 'B', 'Gender': 'Male'}
{'_id': 18, 'FName': 'Ava', 'LName': 'Green', 'Dept': 'CA', 'Course': 'MCA', 'Place': 'Tvm', 'Marks': 93, 'Grade': 'A', 'Gender': 'Female'}
QU9
{'_id': 1, 'FName': 'Aleena', 'LName': 'E', 'Dept': 'CA', 'Course': 'MCA', 'Place': 'Clt', 'Marks': 90, 'Grade': 'A', 'Gender': 'Female'}
{'_id': 2, 'FName': 'John', 'LName': 'Smith', 'Dept': 'CA', 'Course': 'BCA', 'Place': 'Kochi', 'Marks': 85, 'Grade': 'B', 'Gender': 'Male'}
{'_id': 3, 'FName': 'Sarah', 'LName': 'Brown', 'Dept': 'EEE', 'Course': 'B.Tech', 'Place': 'Trivandrum', 'Marks': 78, 'Grade': 'C', 'Gender': 'Female'}
{'_id': 5, 'FName': 'Daniel', 'LName': 'Williams', 'Dept': 'CA', 'Course': 'MCA', 'Place': 'Chennai', 'Marks': 88, 'Grade': 'B', 'Gender': 'Male'}
{'_id': 7, 'FName': 'Sophia', 'LName': 'Davis', 'Dept': 'CSE', 'Course': 'M.Tech', 'Place': 'Mumbai', 'Marks': 95, 'Grade': 'A', 'Gender': 'Female'}
{'_id': 8, 'FName': 'Michael', 'LName': 'Miller', 'Dept': 'EEE', 'Course': 'M.Tech', 'Place': 'Delhi', 'Marks': 84, 'Grade': 'B', 'Gender': 'Male'}
{'_id': 10, 'FName': 'Jack', 'LName': 'Moore', 'Dept': 'EEE', 'Course': 'B.Tech', 'Place': 'Pune', 'Marks': 91, 'Grade': 'A', 'Gender': 'Male'}
{'_id': 11, 'FName': 'Olivia', 'LName': 'Adams', 'Dept': 'MBA', 'Course': 'BBA', 'Place': 'Clt', 'Marks': 83, 'Grade': 'B', 'Gender': 'Female'}
{'_id': 12, 'FName': 'James', 'LName': 'Harris', 'Dept': 'CA', 'Course': 'BCA', 'Place': 'Kochi', 'Marks': 79, 'Grade': 'C', 'Gender': 'Male'}
{'_id': 13, 'FName': 'Charlotte', 'LName': 'Clark', 'Dept': 'Civil', 'Course': 'M.Tech', 'Place': 'Trivandrum', 'Marks': 96, 'Grade': 'A', 'Gender': 'Female'}
{'_id': 16, 'FName': 'Ella', 'LName': 'King', 'Dept': 'CSE', 'Course': 'B.Tech', 'Place': 'Hyderabad', 'Marks': 81, 'Grade': 'B', 'Gender': 'Female'}
{'_id': 19, 'FName': 'Lucas', 'LName': 'Baker', 'Dept': 'Civil', 'Course': 'B.Tech', 'Place': 'Kolkata', 'Marks': 77, 'Grade': 'C', 'Gender': 'Male'}
{'_id': 20, 'FName': 'Mia', 'LName': 'Nelson', 'Dept': 'CSE', 'Course': 'M.Tech', 'Place': 'Pune', 'Marks': 90, 'Grade': 'A', 'Gender': 'Female'}
{'_id': 21, 'FName': 'Ethan', 'LName': 'Roberts', 'Dept': 'Mech', 'Course': 'B.Tech', 'Place': 'Delhi', 'Marks': 85, 'Grade': 'B', 'Gender': 'Male'}
{'_id': 22, 'FName': 'Isabella', 'LName': 'Martinez', 'Dept': 'Mech', 'Course': 'M.Tech', 'Place': 'Bangalore', 'Marks': 90, 'Grade': 'A', 'Gender': 'Female'}
{'_id': 23, 'FName': 'Oliver', 'LName': 'Hernandez', 'Dept': 'Mech', 'Course': 'B.Tech', 'Place': 'Kochi', 'Marks': 88, 'Grade': 'B', 'Gender': 'Male'}
{'_id': 25, 'FName': 'Noah', 'LName': 'Gonzalez', 'Dept': 'Mech', 'Course': 'B.Tech', 'Place': 'Pune', 'Marks': 75, 'Grade': 'C', 'Gender': 'Male'}

In [ ]:
print("QU7")
val=col.find({"FName":{"$regex":"^A"}},{"Name":1})
for i in val7:
    print(i)

QU7

In [69]:
import pymongo
dbcon=pymongo.MongoClient("mongodb://localhost:27017/")
db=dbcon['Aleena']
col=db['Details']
students_data = [
    {'_id': 1, 'FName': 'Aleena', 'LName': 'E', 'Dept': 'CA', 'Course': 'MCA', 'Place': 'Clt', 'Marks': 90, 'Grade': 'A', 'Gender': 'Female'},
    {'_id': 2, 'FName': 'John', 'LName': 'Smith', 'Dept': 'CA', 'Course': 'BCA', 'Place': 'Kochi', 'Marks': 85, 'Grade': 'B', 'Gender': 'Male'},
    {'_id': 3, 'FName': 'Sarah', 'LName': 'Brown', 'Dept': 'EEE', 'Course': 'B.Tech', 'Place': 'Trivandrum', 'Marks': 78, 'Grade': 'C', 'Gender': 'Female'},
    {'_id': 4, 'FName': 'Emily', 'LName': 'Johnson', 'Dept': 'MBA', 'Course': 'MBA', 'Place': 'Bangalore', 'Marks': 92, 'Grade': 'A', 'Gender': 'Female'},
    {'_id': 5, 'FName': 'Daniel', 'LName': 'Williams', 'Dept': 'CA', 'Course': 'MCA', 'Place': 'Chennai', 'Marks': 88, 'Grade': 'B', 'Gender': 'Male'},
    {'_id': 6, 'FName': 'Chris', 'LName': 'Taylor', 'Dept': 'Civil', 'Course': 'B.Tech', 'Place': 'Hyderabad', 'Marks': 76, 'Grade': 'C', 'Gender': 'Male'},
    {'_id': 7, 'FName': 'Sophia', 'LName': 'Davis', 'Dept': 'CSE', 'Course': 'M.Tech', 'Place': 'Mumbai', 'Marks': 95, 'Grade': 'A', 'Gender': 'Female'},
    {'_id': 8, 'FName': 'Michael', 'LName': 'Miller', 'Dept': 'EEE', 'Course': 'M.Tech', 'Place': 'Delhi', 'Marks': 84, 'Grade': 'B', 'Gender': 'Male'},
    {'_id': 9, 'FName': 'Laura', 'LName': 'Wilson', 'Dept': 'CSE', 'Course': 'B.Tech', 'Place': 'Kolkata', 'Marks': 80, 'Grade': 'B', 'Gender': 'Female'},
    {'_id': 10, 'FName': 'Jack', 'LName': 'Moore', 'Dept': 'EEE', 'Course': 'B.Tech', 'Place': 'Pune', 'Marks': 91, 'Grade': 'A', 'Gender': 'Male'},
    {'_id': 11, 'FName': 'Olivia', 'LName': 'Adams', 'Dept': 'MBA', 'Course': 'BBA', 'Place': 'Clt', 'Marks': 83, 'Grade': 'B', 'Gender': 'Female'},
    {'_id': 12, 'FName': 'James', 'LName': 'Harris', 'Dept': 'CA', 'Course': 'BCA', 'Place': 'Kochi', 'Marks': 79, 'Grade': 'C', 'Gender': 'Male'},
    {'_id': 13, 'FName': 'Charlotte', 'LName': 'Clark', 'Dept': 'Civil', 'Course': 'M.Tech', 'Place': 'Trivandrum', 'Marks': 96, 'Grade': 'A', 'Gender': 'Female'},
    {'_id': 14, 'FName': 'William', 'LName': 'Lewis', 'Dept': 'MBA', 'Course': 'BBA', 'Place': 'Bangalore', 'Marks': 74, 'Grade': 'C', 'Gender': 'Male'},
    {'_id': 15, 'FName': 'Benjamin', 'LName': 'Young', 'Dept': 'CSE', 'Course': 'M.Tech', 'Place': 'Chennai', 'Marks': 89, 'Grade': 'B', 'Gender': 'Male'},
    {'_id': 16, 'FName': 'Ella', 'LName': 'King', 'Dept': 'CSE', 'Course': 'B.Tech', 'Place': 'Hyderabad', 'Marks': 81, 'Grade': 'B', 'Gender': 'Female'},
    {'_id': 17, 'FName': 'Liam', 'LName': 'Scott', 'Dept': 'EEE', 'Course': 'M.Tech', 'Place': 'Mumbai', 'Marks': 78, 'Grade': 'C', 'Gender': 'Male'},
    {'_id': 18, 'FName': 'Ava', 'LName': 'Green', 'Dept': 'CA', 'Course': 'MCA', 'Place': 'Delhi', 'Marks': 93, 'Grade': 'A', 'Gender': 'Female'},
    {'_id': 19, 'FName': 'Lucas', 'LName': 'Baker', 'Dept': 'Civil', 'Course': 'B.Tech', 'Place': 'Kolkata', 'Marks': 77, 'Grade': 'C', 'Gender': 'Male'},
    {'_id': 20, 'FName': 'Mia', 'LName': 'Nelson', 'Dept': 'CSE', 'Course': 'M.Tech', 'Place': 'Pune', 'Marks': 90, 'Grade': 'A', 'Gender': 'Female'},
    {'_id': 21, 'FName': 'Ethan', 'LName': 'Roberts', 'Dept': 'Mech', 'Course': 'B.Tech', 'Place': 'Delhi', 'Marks': 85, 'Grade': 'B', 'Gender': 'Male'},
    {'_id': 22, 'FName': 'Isabella', 'LName': 'Martinez', 'Dept': 'Mech', 'Course': 'M.Tech', 'Place': 'Bangalore', 'Marks': 90, 'Grade': 'A', 'Gender': 'Female'},
    {'_id': 23, 'FName': 'Oliver', 'LName': 'Hernandez', 'Dept': 'Mech', 'Course': 'B.Tech', 'Place': 'Kochi', 'Marks': 88, 'Grade': 'B', 'Gender': 'Male'},
    {'_id': 24, 'FName': 'Amelia', 'LName': 'Lopez', 'Dept': 'Mech', 'Course': 'M.Tech', 'Place': 'Hyderabad', 'Marks': 92, 'Grade': 'A', 'Gender': 'Female'},
    {'_id': 25, 'FName': 'Noah', 'LName': 'Gonzalez', 'Dept': 'Mech', 'Course': 'B.Tech', 'Place': 'Pune', 'Marks': 75, 'Grade': 'C', 'Gender': 'Male'}
]
col.insert_many(students_data)

InsertManyResult([1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25], acknowledged=True)