In [ ]:
import pymongo
dbcon=pymongo.MongoClient("mongodb://localhost:27017/")
db=dbcon['Aleena']
col=db['Stud1']
#col1=[{'_id':4,"Name":"Aleena","Age":21,"Place":"Clt"},{'_id':5,"Name":"Priya","Age":22,"Place":"Idk"},{'_id':6,"Name":"Anu","Age":23,"Place":"Alp"}]
#col.insert_many(col1)
val=col.find({"Name":{"$regex":"^A"}},{"Name":1})
for i in val:
    print(i)
col.delete_many({"Age":23})
#cond={"Age":21}
#nval={"$set":{"Place":"Tvm"}}
#col.update_many(cond,nval)

{'_id': 4, 'Name': 'Aleena'}

DeleteResult({'n': 0, 'ok': 1.0}, acknowledged=True)